.body{
    display: flex;
    flex-direction: column;
}
.header{
    height: 15vh;
    font-size: 3rem;
    text-align: center;
}
.content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}