:root{
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-button: 15px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
button, ipnut{
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
}

.body{
    display: flex;
    flex-direction: column;
}
.header{
    height: 15vh;
    font-size: 3rem;
    text-align: center;
}
.content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
}
.footer{
    height: 5vh;
}
.library{
    display: grid;
    gap: var(--spacing-button);
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}
.card{
    background-color: var(--white);
    padding: var(--spacing-button);
    height: 300px;
    box-shadow: var(--shadow);
    font-size: 1.8rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
}
.deleteBtn, .readBtn{
    padding: var(--spacing-button);
    font-size: 1.8rem;
    width: 80%;
    border-radius: var(--border-radius);
}
.deleteBtn:hover, .readBtn:hover{
    filter: brightness(90%);
}
.deleteBtn{
    background-color: var(--light-red);
}